player-connection-mode=Listen
player-connection-guid=3877258688
player-connection-debug=0
player-connection-project-name=Challenge From Beyond
player-connection-wait-timeout=-1
player-connection-ip=192.168.39.121
profiler-enable=1
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
